include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include easy_ui *.css
recursive-include easy_ui *.csv
recursive-include easy_ui *.html
recursive-include easy_ui *.ico
recursive-include easy_ui *.js
recursive-include easy_ui *.json
recursive-include easy_ui *.md
recursive-include easy_ui *.png
recursive-include easy_ui *.py
recursive-include easy_ui *.svg
recursive-include easy_uiton_theme *.txt
recursive-exclude easy_ui *.pyc