[data-theme="easy"] {

  .standard-sidebar-label {
    span {
      color: white;
    }
  }
.sidebar-item-label{

}

  .standard-sidebar-labe.span:hover,.layout-side-section.expanded {
    width:250px;
overflow:visible;
     
  
  }
  

  .page-head-content {
    margin-left: -30%;
  }

  .layout-side-section {
    background-color: #112f4f;
    //  margin-left: -29%;
    height: 100%;
    overflow-y: auto;
    scrollbar-color: var(--gray-200) transparent;

    position: fixed;
    z-index: 1500;
    display: flex;
    flex-direction: column;
    block-size: 100%;
    inline-size: 260px;
    left: 1rem;
    transition: transform .25s ease-in-out, inline-size .25s ease-in-out, box-shadow .25s ease-in-out;
    will-change: transform, inline-size;
    // background-color: #112f4f;
    // border-right:1px solid #e5e5e5;
    // position:absolute;
    // top:0;
    // bottom:0;
    // height:100%;
    // left:0;
    // width:50px;
    // overflow:hidden;
    // -webkit-transition:width .05s linear;
    // transition:width .05s linear;
    // -webkit-transform:translateZ(0) scale(1,1);
    // z-index:1000;
    .standard-sidebar-section {
      // overflow-y: scroll;
      // height: 80vh;
  
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

  }

  .layout-main {
    //    margin-right: 35%;
  }

  .navbar-brand navbar-home {
    margin-left: -29%;
  }


  .layout-vertical-nav {}



//   .layout-side-section:hover, layout-side-section.expanded {
//     width:50px;
//     overflow:hidden;
//     opacity:1;
//     transition: 0.7s ease;
//     .standard-sidebar-label{
// display: none;
//     }
//     }



  .expanded {
    width: 50px;
  }







  .awesomplete {
    &>ul {
      // background-color: #0333b6;
    }
  }

  .sidebar-item-icon {
    // color: #e02323;

  }

  .item-icon {
    // color: #e02323;
    // font-size: 56px;
    // background-color: #550707;
  }

  .indicator {
    background-color: #0c0c0c;
  }

  .collapse-indicator {
    //   background-color: yellow;

  }
}


////qebta moving side without js